@import "tailwindcss";

html,
body,
#root {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

[data-kedi-settings],
[data-kedi-settings] * {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

[data-kedi-settings]::-webkit-scrollbar,
[data-kedi-settings] *::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
